.vscode/
config/apache-zookeeper-3.9.0/
dataset/*
system/.vscode
system/bin
system/info.log
zklibs/

!workers/client.c
!dataset/*.py
!dataset/nodes
!dataset/edges
!dataset/zachary_nodes
!dataset/zachary_edges

