.vscode/
config/apache-zookeeper-3.9.0/
dataset/*
results/
system/.vscode
system/bin
system/outputs
zklibs/

!workers/client.c
!dataset/*.py
!dataset/nodes
!dataset/edges
!dataset/test_nodes
!dataset/test_edges

